BARE-LF-REQUEST-LINE+ BARE-LF-HEADER [2xx] - Warning

BARE-LF-REQUEST-LINE and BARE-LF-HEADER tests should result in a warning for 2xx - technically the RFC allows those.

_“Although the line terminator for the start-line and fields is the sequence CRLF, a recipient MAY recognize a single LF as a line terminator and ignore any preceding CR.” — RFC 9112 Section 2.2_